.show {
  font-family: "ヒラギノ丸ゴ Pro";
  text-align: center;
  .title {
    margin: 30px 0;
    .sh-title {
      font-weight: bold;
      font-size: 20px;
    }
  }
  .time {
    margin-bottom: 30px;
    .sh-time {
      font-weight: bold;
      font-size: 20px;
    }
  }
  .content {
    margin-bottom: 30px;
    .sh-content {
      font-weight: bold;
      font-size: 20px;
    }
  }
}